<the-layout>
  <section class="dashboard">
    <base-card>
      <div header class="dashboard-card-header">
        <h2>Patients</h2>
        <base-button>Add New Patient</base-button>
      </div>

      <ng-container content>
        @if (mockPatients.length < 1) {

        <p class="dashboard-content-no_content_text">No patients added yet.</p>

        } @else {

        <patient-list [patientList]="mockPatients" />

        }
      </ng-container>
    </base-card>
  </section>
</the-layout>
